<!-- Recorded topics 



/odom_combined 
/people_identified 
/people_tracker/positions 
/upper_body_detector/detections 
/biometrics
/rol_requests
/mln_location
/grid_300833B2DDD901410000000F/rfid_grid_map_node/probs
/hmi_events
/reidentifier/result
/upper_body_detector/detections
/hbba/events


/st_anomaly_detector/person_speed

/st_anomaly_detector/person_status
/st_anomaly_detector/torso_status
/st_anomaly_detector/head_status
/st_anomaly_detector/body_status

/st_anomaly_detector/person_anomaly
/st_anomaly_detector/torso_anomaly
/st_anomaly_detector/head_anomaly
/st_anomaly_detector/body_anomaly



[ALREADY RECORDED BY ARMINES]
/map
/memory
/physical
/puzzle
/digit
/hangman

-->



<launch>

  <node pkg="mongodb_log" type="mongodb_log.py" name="mongodb_log_node" args="--mongodb-host 192.168.1.182 --mongodb-port 27017 --mongodb-name ros /odom_combined  /people_identified  /people_tracker/positions  /upper_body_detector/detections  /biometrics /rol_requests /mln_location /grid_300833B2DDD901410000000F/rfid_grid_map_node/probs /hmi_events /reidentifier/result /upper_body_detector/detections /hbba/events /st_anomaly_detector/person_speed /st_anomaly_detector/person_status /st_anomaly_detector/torso_status /st_anomaly_detector/head_status /st_anomaly_detector/body_status /st_anomaly_detector/person_anomaly /st_anomaly_detector/torso_anomaly /st_anomaly_detector/head_anomaly /st_anomaly_detector/body_anomaly " output="screen"/>

</launch>
